code/inference/__pycache__/launch_inference.cpython-313.pyc
code/Preprocessing/__pycache__/json_generation.cpython-313.pyc
code/Preprocessing/__pycache__/normalisation.cpython-313.pyc
code/Preprocessing/__pycache__/preprocessing.cpython-313.pyc
code/tools/__pycache__/report.cpython-313.pyc
code/tools/__pycache__/selection.cpython-313.pyc
code/training/__pycache__/launch_training.cpython-313.pyc
code/training/__pycache__
code/tools/__pycache__
code/classes/__pycache__
code/commun/__pycache__
code/inference/__pycache__
code/preprocessing/__pycache__
code/test_cuda.py
data
runs
data2
.vscode
code/settings.json
runs_full/UnetSegmentor__16-07-25-12-27-50
